<h1>Botones primarios</h1>
<h2>Default</h2>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton grande primario de texto, en estado default, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [size]="'medium'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton mediano primario de texto, en estado default, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [size]="'small'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton pequeño primario de texto, en estado default, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" [iconPos]="'right'" [icon]="'rightarrow'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton grande primario de texto, en estado default, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'"  [iconPos]="'left'" [icon]="'download'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton grande primario de texto, en estado default, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [iconPos]="'right'" [size]="'medium'" [icon]="'rightarrow'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton mediano primario de texto, en estado default, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [iconPos]="'left'" [size]="'medium'" [icon]="'download'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton mediano primario de texto, en estado default, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [iconPos]="'right'" [size]="'small'" [icon]="'rightarrow'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton pequeño primario de texto, en estado default, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [iconPos]="'left'" [size]="'small'" [icon]="'download'" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton pequeño primario de texto, en estado default, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Custom Icon'" [iconPos]="'right'" [size]="'small'" (click)="action()" [customIcon]="'../assets/test.png'"></lib-buttons>
</div>
<p>Prueba de un boton pequeño primario, en estado default, con icono personalizado en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Custom Icon'" [iconPos]="'left'" [size]="'small'" (click)="action()" [customIcon]="'../assets/test.png'"></lib-buttons>
</div>
<p>Prueba de un boton pequeño primario, en estado default, con icono personalizado en la parte izquierda</p>
<hr>

<h2>Disabled</h2>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large button'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton grande primario de texto, en estado disabled, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [size]="'medium'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton mediano primario de texto, en estado disabled, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [size]="'small'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton pequeño primario de texto, en estado disabled, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" [icon]="'rightarrow'" [iconPos]="'right'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton grande primario de texto, en estado disabled, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" [icon]="'download'" [iconPos]="'left'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton grande primario de texto, en estado disabled, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [icon]="'rightarrow'" [iconPos]="'right'" [size]="'medium'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton mediano primario de texto, en estado disabled, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [icon]="'download'" [iconPos]="'left'" [size]="'medium'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton mediano primario de texto, en estado disabled, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [icon]="'rightarrow'" [iconPos]="'right'" [size]="'small'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton pequeño primario de texto, en estado disabled, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [icon]="'download'" [iconPos]="'left'" [size]="'small'" [disabled]="true"></lib-buttons>
</div>
<p>Prueba de un boton pequeño primario de texto, en estado disabled, con icono en la parte izquierda</p>
<hr>

<h1>Botones secundarios</h1>

<h2>Default</h2>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton grande secundario de texto, en estado default, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [size]="'medium'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton mediano secundarioo de texto, en estado default, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [size]="'small'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton pequeño secundario de texto, en estado default, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" [icon]="'rightarrow'" [iconPos]="'right'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton grande secundario de texto, en estado default, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" [icon]="'download'" [iconPos]="'left'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton grande secundario de texto, en estado default, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [icon]="'rightarrow'" [iconPos]="'right'" [size]="'medium'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton mediano secundario de texto, en estado default, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [icon]="'download'" [iconPos]="'left'" [size]="'medium'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton mediano secundario de texto, en estado default, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [icon]="'rightarrow'" [iconPos]="'right'" [size]="'small'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton pequeño secundario de texto, en estado default, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [icon]="'download'" [iconPos]="'left'" [size]="'small'" [group]="2" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton pequeño secundario de texto, en estado default, con icono en la parte izquierda</p>
<hr>

<h2>Disabled</h2>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large button'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton grande secundario de texto, en estado disabled, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [size]="'medium'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton mediano secundario de texto, en estado disabled, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [size]="'small'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton pequeño secundario de texto, en estado disabled, sin icono</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" [icon]="'rightarrow'" [iconPos]="'right'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton grande secundario de texto, en estado disabled, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Large Button'" [icon]="'download'" [iconPos]="'left'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton grande secundario de texto, en estado disabled, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [icon]="'rightarrow'" [iconPos]="'right'" [size]="'medium'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton mediano secundario de texto, en estado disabled, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Medium Button'" [icon]="'download'" [iconPos]="'left'" [size]="'medium'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton mediano secundario de texto, en estado disabled, con icono en la parte izquierda</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [icon]="'rightarrow'" [iconPos]="'right'" [size]="'small'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton pequeño secundario de texto, en estado disabled, con icono en la parte derecha</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Small Button'" [icon]="'download'" [iconPos]="'left'" [size]="'small'" [disabled]="true" [group]="2"></lib-buttons>
</div>
<p>Prueba de un boton pequeño secundario de texto, en estado disabled, con icono en la parte izquierda</p>
<hr>

<h1>Botones terciarios</h1>

<div style="width: fit-content;">
    <lib-buttons [text]="'Terciario'" [icon]="'search'" [group]="3" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Terciario'" [icon]="'search'" [group]="3" [disabled]="true" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario desabilitado</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Guardar'" [icon]="'save'" [group]="3" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario con icono save</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Visualizar Plantilla'" [icon]="'eye'" [group]="3" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario con icono eye</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Volver'" [icon]="'leftarrow'" [group]="3" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario con icono leftarrow</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Cargar Certificado Digital'" [icon]="'upload'" [group]="3" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario con icono upload</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Editar'" [icon]="'create'" [group]="3" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario con icono create</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Base Legal'" [icon]="'briefcase'" [group]="3" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario con icono briefcase</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [text]="'Crear Plantilla'" [icon]="'add'" [group]="3" (click)="action()"></lib-buttons>
</div>
<p>Prueba de un boton terciario con icono add</p>
<hr>

<h1>Otros botones</h1>

<div style="width: fit-content;">
    <lib-buttons [group]="4" [icon]="'add'" onclick="" (click)="action()"></lib-buttons>
</div>
<p>Prueba de otro boton con icono add</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [group]="4" [icon]="'remove'" onclick="" (click)="action()"></lib-buttons>
</div>
<p>Prueba de otro boton con icono remove</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [group]="4" [icon]="'yes'" onclick="" (click)="action()"></lib-buttons>
</div>
<p>Prueba de otro boton con icono yes</p>
<hr>

<div style="width: fit-content;">
    <lib-buttons [group]="4" [icon]="'no'" onclick="" (click)="action()"></lib-buttons>
</div>
<p>Prueba de otro boton con icono no</p>
<hr>